<div class="todo-form">
  <%= render "form" %>

  <%= link_to "Validation rules", popup_path, "up-popup" => ".popup", "up-position" => "top-left" %>

  <table class="table">
    <thead>
      <tr>
        <th> Name </th>
        <th> Description </th>
      </tr>
    </thead>
    <%- @todos.each do |todo| %>
      <tbody>
        <tr>
          <td> <%= link_to todo.name, todo_path(todo), "up-modal" => "##{dom_id(todo)}" %> </td>
          <td> <%= todo.description %> </td>
        </tr>
      </tbody>
    <% end %>
  </table>
</div>

<div class="wow">
  <%= link_to "Wow!! Such animation!!", wow_path, "up-target" => ".wow", "up-transition" => "move-from-bottom" %>
</div>
